* {
    font-family:cursive;
}
body {
    background-image: url(christmasBackground.jpg);
    background-repeat:no-repeat;
    
    flex-direction: column;
}
.container {
    background-repeat:no-repeat;
    background-size:contain;
    background-position:center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.element {
    margin: 0 2rem;
}
p {
    font-size: 80px;
    margin-bottom: 0;
}
h1 {
    font-size: 50px;
    text-align: center;
}
span {
    font-size: 30px;
    margin-top: -2rem;
}
